---
import { getCollection } from 'astro:content';
const news = await getCollection('news');
news.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---
<hr>
{news.map(async article => 
    {
    const {
        title,
        link,
        image,
        sourceName,
        date
    } = article.data;
    const { Content } = await article.render();
    return (
        <div class="book-container">
            <div>
            {image?.url &&
                <a href={link} target="_blank">
                    <img src={`/uploads/${image.url}`} alt={image?.alt ? image.alt : title} />
                </a>
            }
            </div>
            <div>
                <h2>{title}</h2>
                <Content />
                {link && <p><a href={link} target="_blank">Read at {sourceName}</a></p>}
            </div>
        </div>
  );
},
)}
</div>